---
import Layout from "../layouts/Layout.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";
---

<Layout>
  <section
    class="relative flex min-h-screen flex-col items-center justify-center text-center text-white"
  >
    <div
      class="absolute inset-0 -z-10 bg-cover bg-[#1f7a1f]"
      style={`background-image: url(${import.meta.env.BASE_URL}assets/img/hero.webp)`}
    >
    </div>
    <div class="mt-24">
      <h1 class="text-[60px] font-bold font-['Open_Sans'] mb-4 text-white">
        Unser Geschäftsführender Vorstand
      </h1>
    </div>
    <ScrollIndicator />
  </section>

  <section
    class="flex flex-col items-center bg-[#d4ffe7] px-6 sm:px-10 lg:px-20 py-24 text-center"
  >
    <img
      class="max-w-[800px] mb-2 border-2 rounded-sm mx-auto w-full"
      src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
    />
    <p class="text-[#666]">
      Unser Geschäftsführender Vorstand von Links nach Rechts:<br />
      <strong> Brudermeister</strong><em> Christian Kurm</em><br />
      <strong>Stellv. Brudermeisterin</strong><em> Angelika Dahmen</em><br />
      <strong>Geschäftsführer</strong><em> Hans-Wilhelm Dahmen</em><br />
      <strong>Schatzmeisterin</strong><em> Jana Seifert</em>
    </p>
  </section>

  <section
    class="bg-[#83cea5] px-6 sm:px-10 lg:px-20 py-24 items-center justify-center"
  >
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Card 1 -->
        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img
              src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
              alt="Foto Person 1"
              class="object-cover h-96 w-full"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h3 class="card-title">Brudermeister</h3>
            <p class="text-lg">Christian Kurm</p>
            <a href="mailto:kontakt@seb-horrem.de" class="link link-primary">
              kontakt@seb-horrem.de
            </a>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img
              src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
              alt="Foto Person 2"
              class="object-cover h-96 w-full"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h3 class="card-title">Stellv. Brudermeisterin</h3>
            <p class="text-lg">Angelika Dahmen</p>
            <a href="mailto:kontakt@seb-horrem.de" class="link link-primary">
              kontakt@seb-horrem.de
            </a>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img
              src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
              alt="Foto Person 3"
              class="object-cover h-96 w-full"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h3 class="card-title">Geschäftsführer</h3>
            <p class="text-lg">Hans-Wilhelm Dahmen</p>
            <a href="mailto:kontakt@seb-horrem.de" class="link link-primary">
              kontakt@seb-horrem.de
            </a>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img
              src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
              alt="Foto Person 4"
              class="object-cover h-96 w-full"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h3 class="card-title">Schatzmeisterin</h3>
            <p class="text-lg">Jana Seifert</p>
            <a
              href="mailto:schatzmeister@seb-horrem.de"
              class="link link-primary"
            >
              schatzmeister@seb-horrem.de
            </a>
          </div>
        </div>

        <!-- Card über beide Spalten -->
        <div
          class="card bg-base-100 text-primary-content shadow-xl md:col-span-2"
        >
          <figure>
            <img
              src={`${import.meta.env.BASE_URL}assets/img/vorstand.webp`}
              alt="Foto Erweiterter Vorstand"
              class="object-cover h-96 w-full"
            />
          </figure>
          <div class="card-body items-center text-left">
            <h3 class="card-title">Erweiterter Vorstand</h3>

            <div class="mt-4 space-y-4">
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Stellv. Kassiererin:</span>
                <span class="text-right">Magdalena Baumeister</span>
              </div>
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Stellv. Geschäftsführer:</span>
                <span class="text-right">Felix Vogel</span>
              </div>
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Schießmeisterin:</span>
                <span class="text-right">Anne Vogel</span>
              </div>
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Stellv. Schießmeister RSB:</span>
                <span class="text-right">Heinrich Bock</span>
              </div>
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Jungschützenmeisterin:</span>
                <span class="text-right">Anne Vogel</span>
              </div>
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Stellv. Jungschützenmeister:</span>
                <span class="text-right">Felix Vogel</span>
              </div>
              <div class="grid grid-cols-2 gap-x-40">
                <span class="font-semibold">Fähnrich Jugend:</span>
                <span class="text-right">Jonas Schuchmann</span>
              </div>
            </div>
            <p class="mt-4">
              <em
                >Ebenfalls teil des Erweiterten Vorstands sind die amtierenden
                Majestäten</em
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
